.dashboard_container{
    display: flex;
    flex-direction: row;
    color: #b3b3b3;
}

.dashboard_content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dashboard_content span{
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dashboard_lobby_label{
    font-size: 64px;
}

.dashboard_lobby_container{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

.dashboard_lobby_players_container{
    display: flex;
    flex-direction: column;
}

.dashboard_lobby_playerslist{
    background-color: #FFFEFE;
    color: #111111;
    font-weight: 900;
    border-radius: 2px;
    border-bottom: 1px #1111 solid;
}

.dashboard_lobby_questionpack_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.dashboard_lobby_questionpack_container select{
    color: #595959;
    font-size: 24px;
    padding: 0px 4px;
    border-radius: 0;
    text-align: center;
    width: 50%;
    align-self: center;
}

.dashboard_lobby_startbtn{
    background-color: #111;
    color: #FFFFFF;
    align-self: center;
    width: 50%;
}

.dashboard_lobby_startbtn:hover{
    background-color: #11111E;
    transition: 0.2s ease-in-out;
}

.dashboard_lobby_startbtn span{
    font-size: 24px;
    -webkit-text-stroke-width: 0px;
}

